@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

main {
  width: 100%;
  height: auto;
}

/* Navbar */
nav {
  background: #104c70;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 999;
}
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,
a:hover {
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

/* Beranda */
.home-container {
  margin-top: 0px;
  background-image: url(img/gambar1.jpg);
  height: 100vh;
  position: inherit;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.text {
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background: rgba(0, 0, 0, 0.5); */
}

.btn {
  cursor: pointer;
  margin-top: 20px;
  background: #104c70;
  padding: 10px;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
}

.button {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 20px;
  top: 50%;
  position: absolute;
  right: 0;
  transform: translateY(-450%);
  background-color: #104c70;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #6ca086;
}

.tombol {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 21px;
  top: 50%;
  position: absolute;
  right: 0;
  transform: translateY(-300%);
  background-color: #104c70;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.tombol:hover {
  background-color: #6ca086;
}

/* Home */
.home-kedua {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

.home-kedua h3 {
  width: 70%;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.home-kedua .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.icon-container .icon {
  text-align: center;
  width: 27em;
  height: auto;
  margin-top: 6rem;
  margin-right: 60px;
}

.home-kedua .icon-container i {
  font-size: 7rem;
  background: #104c70;
  padding: 4rem 4rem;
  border-radius: 30px;
  align-items: baseline;
}

.icon-container p {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
}

/* Misi */
.misi {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10em;
}

.row-misi {
  text-align: center;
  border: 3px black solid;
  padding: 40px 100px 70px 60px;
  border-radius: 40px;
}

.judul-misi {
  font-size: 40px;
  font-family: "Poppins";
  font-weight: 600;
}

.paragraf-misi {
  font-style: italic;
  font-size: 27px;
  margin-top: 30px;
}

.img-misi figure {
  display: inline-block;
  width: 20vw;
  margin-left: 40px;
  margin-top: 40px;
}

.img-misi img {
  width: 20vw;
  border-radius: 30px;
  margin-bottom: 20px;
}

/* Footer*/
footer {
  background-color: #104c70;
  padding-top: 35px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
}
.isi-container-footer {
  margin-bottom: 20px;
}

.container-footer .isi-container-footer i {
  font-size: 40px;
  margin-left: 10px;
  cursor: pointer;
}

.text-container-footer {
  font-size: 20px;
}

/*Akhir CSS Beranda -------------------------------------------------------------------------------------------------------------*/

/* Product Css ------------------------------------------------------------------------------------------------------------------------*/

.product {
  background-image: url(img/product.jpeg);
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.container-product {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
}

.row-product {
  text-align: center;
  padding-top: 35vh;
  color: #fff;
}

.row-product h1 {
  font-size: 60px;
  font-weight: bold;
}

.row-product .search {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-product form,
input {
  padding: 15px;
  width: 50%;
  border-radius: 10px;
}

.row-product form,
button {
  padding: 15px;
  width: 10%;
  float: right;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 20px;
}

.button-product {
  background-color: #104c70;
  color: #fff;
}

/* Market */


.card {
  box-sizing: border-box;
  margin-left: 20px;
}

.card h4 {
  text-align: center;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card  {
  border: 2px #104c70 solid;
  display: inline-block;
  width: 47.5vh;
  margin-top: 50px;
  margin-left: 20px;
  padding: 20px;
  border-radius: 20px;
}

.card img {
  width: 100%;
  border-radius: 10px;
  align-items: center;
}

.img-market figure {
  border: 2px #104c70 solid;
  display: inline-block;
  width: 47.5vh;
  margin-top: 50px;
  margin-left: 20px;
  padding: 0px;
  border-radius: 20px;
}
.img-market img {
  width: 100%;
  border-radius: 20px;
}



/* css pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.pagination a {
  font-weight: bold;
  font-size: 20px;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #104c70;
  color: #fff;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #d4d5d2;
}

/* responsive*/

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #104c70;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
  }
  #check:checked ~ ul {
    left: 0;
  }
  h1 {
    font-size: 20px;
    margin-left: 30px;
  }
  button {
    margin-left: 10px;
  }
  p {
    font-size: 15px;
  }
  p {
    font-size: 15px;
    /* margin-left: 60px; */
  }
  p .text-container-footer {
    font-size: 15px;
  }
  i {
    margin-left: 60px;
  }
  p .paragraf-misi {
    font-size: 2000px;
  }
  figcaption {
    font-size: 10px;
  }
}

/*detail product*/


.img-market-detail figure {
  border: 2px #104c70 solid;
  display: inline-block;
  width: 500px;
  margin-top: 40px;
  margin-left: 10px;
  padding: 0px;
  border-radius: 20px;
}
.img-market-detail img {
  width: 100%;
  border-radius: 20px;
}
.right{
  text-align: left;
  margin-left: 70px;
  
}
.right b{
  margin: 20px 0px 20px 0px;
}
.right h3{
  margin: 10px;
}

.detail-product {
  width: 100%;
  height: 110vh;
  margin-top: 10%;

}

.container-detail-product {
  width: 100%;
  height: 100vh;
}

.row-detail-product {
  text-align: center;
  padding-top: 15vh;
  color: #104c70;
}

.row-detail-product h1 {
  font-size: 60px;
  font-weight: bold;
}

#button {
  width: 100%;
  padding: 10px 0 10px 0;
}
#button a{
  text-decoration: none;
  color: #ecf0f1;
  background-color: #104c70;
  width: 100px;
  padding: 5px 10px;
  margin: 5px; 
  border-radius: 2px;

}

figcaption {
  display: flex;
  justify-content: start;
  margin-top: 10px;
  margin-left: 430px;
}
