@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

main {
  width: 100%;
  height: auto;
}

/* Navbar */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 6px 5%;
  background-color: #104c70;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.navbar a {
  font-size: 1rem;
  color: #fff;
  margin-left: 4rem;
  text-decoration: none;
}

/* Beranda */
.home-container {
  margin-top: 25px;
  background-image: url(img/gambar1.jpg);
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.text {
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background: rgba(0, 0, 0, 0.5); */
}

.btn {
  cursor: pointer;
  margin-top: 20px;
  background: #104c70;
  padding: 10px;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
}

.button {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 20px;
  top: 50%;
  position: absolute;
  right: 0;
  transform: translateY(-450%);
  background-color: #104c70;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #6ca086;
}

.tombol {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 21px;
  top: 50%;
  position: absolute;
  right: 0;
  transform: translateY(-300%);
  background-color: #104c70;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.tombol:hover {
  background-color: #6ca086;
}

/* Home */
.home-kedua {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

.home-kedua h3 {
  width: 70%;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.home-kedua .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.icon-container .icon {
  text-align: center;
  width: 27em;
  height: auto;
  margin-top: 6rem;
  margin-right: 60px;
}

.home-kedua .icon-container i {
  font-size: 7rem;
  background: #104c70;
  padding: 4rem 4rem;
  border-radius: 30px;
  align-items: baseline;
}

.icon-container p {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
}

/* Misi */
.misi {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10em;
}

.row-misi {
  text-align: center;
  border: 3px black solid;
  padding: 40px 100px 70px 60px;
  border-radius: 40px;
}

.judul-misi {
  font-size: 40px;
  font-family: "Poppins";
  font-weight: 600;
}

.paragraf-misi {
  font-style: italic;
  font-size: 27px;
  margin-top: 30px;
}

.img-misi figure {
  display: inline-block;
  width: 20vw;
  margin-left: 40px;
  margin-top: 40px;
}

.img-misi img {
  width: 20vw;
  border-radius: 30px;
  margin-bottom: 20px;
}

/* Footer*/
footer {
  background-color: #104c70;
  padding-top: 35px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
}
.isi-container-footer {
  margin-bottom: 20px;
}

.container-footer .isi-container-footer i {
  font-size: 40px;
  margin-left: 10px;
  cursor: pointer;
}

.text-container-footer {
  font-size: 20px;
}

/*Akhir CSS Beranda -------------------------------------------------------------------------------------------------------------*/

/* Product Css ------------------------------------------------------------------------------------------------------------------------*/

.product {
  background-image: url(img/product.jpeg);
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.container-product {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
}

.row-product {
  text-align: center;
  padding-top: 35vh;
  color: #fff;
}

.row-product h1 {
  font-size: 60px;
  font-weight: bold;
}

.row-product .search {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-product form,
input {
  padding: 15px;
  width: 50%;
  border-radius: 10px;
}

.row-product form,
button {
  padding: 15px;
  width: 7%;
  float: right;
  margin-left: 15px;
  border-radius: 10px;
  font-size: 20px;
}

.button-product {
  background-color: #104c70;
  color: #fff;
}

/* Market */
.market {
  box-sizing: border-box;
  margin-top: 7rem;
  margin-bottom: 10rem;
}

.market h1 {
  text-align: center;
  font-weight: bold;
}

.container-market {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-market {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-market figure {
  border: 2px #104c70 solid;
  display: inline-block;
  width: 47.5vh;
  margin-top: 50px;
  margin-left: 20px;
  padding: 20px;
  border-radius: 20px;
}

.img-market img {
  width: 100%;
  border-radius: 20px;
}

.img-market figcaption {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.img-market figcaption i {
  margin-right: 7px;
}

/* css pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.pagination a {
  font-weight: bold;
  font-size: 20px;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #104c70;
  color: #fff;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #d4d5d2;
}
